NODE_ENV=development
PORT=8000
API_PREFIX=/api/v1
CORS_ORIGIN=http://localhost:8080
MONGODB_URI=mongodb://127.0.0.1:27017
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=""
FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET= 
FIREBASE_MESSAGING_SENDER_ID=
FIREBASE_APP_ID=
FIREBASE_MEASUREMENT_ID=
GROQ_API_KEY=
GROQ_MODEL=
CF_ACCOUNT_ID=
CF_API_TOKEN=